html { 
	overflow-x: hidden; 
	overflow-y: auto;
 }

.sort .input-group-addon {
	width: 100px;
	min-width: 85px;
}
 .panel-body{
	 justify-content:flex-start;
 }
 .empty-line{
	 flex: 1;
 }
.row{
	margin-top: 50px;
}

.panel-body .select-cd,
.panel-body .classify-cd,
.panel-body .bl-cd,
.panel-body .car-cd,
.panel-body .shori-kubun,
.panel-body .error-distinction,
.panel-body .ketsugou-num
 {
  width: 35%;
  min-width: 35%;
}
.page_head {
	display: flex;
}

.page-next {
	width: 50%;
}

.panel-body .apply-state,
.panel-body .shori-kubun
 {
  width: 30%;
  min-width: 30%;
}
 



.blank_hide {
	height: 25%;
}
.input-group .column1{
  min-width: 130px;
}
.input-group .column2{
  min-width: 160px;
} 

.input-group .column3{
  min-width: 120px;
}

.error_empty{
    background-color: #ff0000;
    height: 30px;
    /*margin-bottom: -5px;*/
}
.cell_normal{
    max-height: 30px;
    /*margin-bottom: -8px;*/
}

.glyphicon {
	top:0px;
}

.bl-btn-3 {
  width: 80px;
} 

.bl-btn-4 {
  width: 110px;
}

.bl-btn-5 {
	width:130px;
}


.table-style{
	padding-right:6px;
	margin-top:-3px;
	width:100%;
	height:150px;
	white-space:nowrap;
	overflow-x:auto;
	overflow-y:hidden;
}

#info {
	color:white;
}

.table-style-data{
	padding-right:6px;
	margin-top:-3px;
	width:100%;
	height:300px;
	white-space:nowrap;
	overflow-x:auto;
	overflow-y:hidden;
}

.item-result-grid {
	overflow-y: auto;
	width: 100%;
	height: 300px;
	text-align: center;
}

.table-mouseover {
	background: #fcfd9c;
}

.table-checked {
	background: #bfe4b0;
}



.button {
	text-align:center;
}

.blankDiv {
	width: 70%;
}

.btn_left {
	text-align: left;
}

.btn_right {
	margin-top: -35px;
	text-align: right;
}

.import_checklist {
	text-align:right;
	margin-top:-10px;
	margin-bottom:5px;
}

.panel-body .empty {
	width:20%;
	min-width:0%;
}
 .panel.section{
          margin-bottom: 3px;
          border: 0px solid transparent;
      }

 
td{
    vertical-align: middle;
}

#info {
	text-align: center;
	background-color:#009240;
}

#grid{
	/*overflow-y: auto;*/
	width: 100%;
	height: 100%;
	/*text-align: center;*/
}

#barcon {
	height:20px;
}

.page-header-extra{
	margin-top: 30px;
}

.d-cell {
    background: #CCCCCC !important;
}
