html { 
	overflow-x: hidden; 
	overflow-y: auto;
 }

.sort .input-group-addon {
	width: 100px;
	min-width: 85px;
}
 .panel-body{
	 justify-content:flex-end;
 }
 .empty-line{
	 flex: 1;
 }

.panel-body .set-cd,
.panel-body .old-Cd,
.panel-body .classify-cd,
.panel-body .op-en,
.panel-body .bl-cd,
.panel-body .bl-cd,
.panel-body .equip-ment,
.panel-body .goods-Cd,
.panel-body .PrimePartsSpecialNoteRFB,
.panel-body .PrimePartsSpecialNoteRFC,
.panel-body .del-distinction,
.panel-body .apply-status,
.panel-body .shori-kubun,
.panel-body .good-detailC,
.panel-body .good-detail-common
 {
  width: 35%;
  min-width: 35%;
}
.page_head {
	display: flex;
}
.page{
  width: 130px;
  height: 20px;
  color:#4682B4;
  border:none;
  background: #E6FBDB;
}
.page-info{
	position: absolute;
	right:0;
}
/* 三列目幅さ */
.panel-body .apply-date,
.panel-body .insert-date,
.panel-body .update-date,
.panel-body .good-detail,
.panel-body .good-detailB,
.panel-body .error-distinction,
.panel-body .goods-name
 {
  width: 30%;
  min-width: 30%;
}
 



.blank_hide {
	height: 25%;
}
.input-group .column1{
  min-width: 120px;
}
.input-group .column2{
  min-width: 130px;
} 

.input-group .column3{
  min-width: 120px;
}

.error_empty{
    background-color: #ff0000;
    height: 30px;
    /*margin-bottom: -5px;*/
}
.cell_normal{
    max-height: 30px;
    /*margin-bottom: -8px;*/
}

.glyphicon {
	top:0px;
}

.bl-btn-3 {
  width: 80px;
} 

.bl-btn-4 {
  width: 110px;
}

.bl-btn-5 {
	width:130px;
}

/**
-----一括適用-----



.panel-body .empty {
  width: 100%;
  min-width: 0%;
}

.panel-body .apply-sobetsu-code{
  width: 30%;
  min-width: 217px;
}

.panel-body .apply-shubetsu-code {
  padding-left: 3%;	
  width: 30%;
  min-width: 217px;
}

.panel-body .apply-empty {
  width: 40%;
  min-width: 0%;
}
.panel-body .apply-bunrui-code {
  width: 30%;
  min-width: 217px;
}
.panel-body .apply-serekuto-code {
  padding-left: 3%;	
  width: 30%;
  min-width: 217px;
}
**/
.table-style{
	padding-right:6px;
	margin-top:-3px;
	width:100%;
	height:150px;
	white-space:nowrap;
	overflow-x:auto;
	overflow-y:hidden;
}

#info {
	color:white;
}

.table-style-data{
	padding-right:6px;
	margin-top:-3px;
	width:100%;
	height:300px;
	white-space:nowrap;
	overflow-x:auto;
	overflow-y:hidden;
}

.item-result-grid {
	overflow-y: auto;
	width: 100%;
	height: 300px;
	text-align: center;
}

.table-mouseover {
	background: #fcfd9c;
}

.table-checked {
	background: #bfe4b0;
}


/**戻るボタン様式 **/
.button {
	text-align:center;
}

.blankDiv {
	width: 70%;
}

.btn_left {
	text-align: left;
}

.btn_right {
	margin-top: -35px;
	text-align: right;
}

.import_checklist {
	text-align:right;
	margin-top:-10px;
	margin-bottom:5px;
}

.panel-body .empty {
	width:20%;
	min-width:0%;
}

.glyphicon-menu-left {
	position:absolute;
	top:92.5%;
	left:130px;
}

.glyphicon-menu-right {
	position:absolute;
	top:92.5%;
	right:-80px;
}


 
td{
    vertical-align: middle;
}

#info {
	text-align: center;
	background-color:#009240;
}

#grid{
	/*overflow-y: auto;*/
	width: 100%;
	height: 100%;
	/*text-align: center;*/
}

#barcon {
	height:20px;
}

.d-cell {
    background: #CCCCCC !important;
}
.grid-top-group-button .group-button .btn {
  margin-right: 0 !important;
}

.grid-top-group-button .group-button {
  margin-bottom: 2px;
  /*margin-top:6px;*/
}

.grid-top-group-button {
  justify-content: space-between;
}
.page-box{
	margin-left:50%;
	margin-right:5%;
}
.page-box a,.page-box span{
	margin-left:15px;
}