@charset "UTF-8";
/* CSS Document */

html,body{
    min-height: 100%;
    margin:0;
    padding:0;
}

html {
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333333;
    background-color: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}

.logbox{
    text-align: left;
    border: solid 1px #ccc;
    height: 120px;
    overflow: auto;
    font-size: 11pt;
    padding: 0.6em;
    margin-bottom: 6px;
    background-color: #fff;
}


.logbox p{
    font-size: 11pt !important;
    margin: 0 0 10px 0 !important;
}

hr{
    border:none;
    border-top:dashed 1px #ccc;
    height:1px;
    color:#ccc;
    width: 100%;
}

hr.news {
    border:none;
    margin: 18px 0 18px 0;
    border-top:dashed 1px #ccc;
    height:1px;
    color:#ccc;
    width: 100%;
}

#webwrapper {
    width: 98%;
    margin:  0 1% 0 1%;
    position: relative;
    height: auto !important;     /* IE6対策 */
    height: 100%;                    /* IE6対策 */
    min-heigth: 100%;
    padding-bottom: 4em;
}



@media screen and (min-width:480px) {
    /*　画面サイズが480pxまではここを読み込む　*/
    #webwrapper {
        width: 90%;
        margin:  0 5% 0 5%;
    }
}
@media screen and (min-width:768px) and ( max-width:1024px) {
    /*　画面サイズが768pxから1024pxまではここを読み込む　*/
    #webwrapper {
        width: 60%;
        margin:  0 20% 0 20%;s
    }
}
@media screen and (min-width:1024px) {
    /*　画面サイズが1024pxからはここを読み込む　*/
    #webwrapper {
        width: 40%;
        margin:  0 30% 0 30%;
    }
}

header {
    vertical-align: middle;
    font-size: 17pt;
    padding: 9px 7% 10px 7%;
    color: #fff;
    background: #009180;
}

footer {
    text-align: center;
    vertical-align: middle;
    font-size: 10pt;
    padding: 20px 7% 40px 7%;
    color: #999;
    background: #fff;
}

.bllogo {
    padding: 18px 7% 6px 7%;
    color: #333;
    background: #fff;
}

header.change {
    vertical-align: middle;
    font-size: 14pt;
    padding: 7px 7% 5px 7%;
    color: #333;
    background: #fff;
    border-bottom: 5px solid #248810;
}

@media screen and (min-width:480px) {
    /*　画面サイズが480pxまではここを読み込む　*/
    header {
        vertical-align: middle;
        font-size: 1.6em;
        padding: 10px 7% 10px 7%;
        margin: 0 0 0 0;
        color: #fff;
        background: #009180;
    }
}
@media screen and (min-width:768px) and ( max-width:1024px) {
    /*　画面サイズが768pxから1024pxまではここを読み込む　*/
    header {
        vertical-align: middle;
        font-size: 1.6em;
        padding: 10px 15% 10px 15%;
        margin: 0 0 0 0;
        color: #fff;
        background: #009180;
    }
}
@media screen and (min-width:1024px) {
    /*　画面サイズが1024pxからはここを読み込む　*/
    header {
        vertical-align: middle;
        font-size: 1.6em;
        padding: 10px 22% 10px 22%;
        margin: 0 0 0 0;
        color: #fff;
        background: #009180;
    }
}

div.announcement{
    border: 1px solid #248810;
    background-color: #f1ffeb;
    padding: 20px 20px 26px 20px !important;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #248810;
}

div.announcement p{
    font-size: 15px;
    font-weight: 300;
    color: #444;
}

.center{
    margin: 0 auto 0 auto;
    width: 100%;
    font-size: 15px;
    font-weight: 300;
    color: #444;
}

div.textarea{
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 0 20px 20px 20px !important;
    text-align: center;
}

/* 201601 ADD */
div.textarea_agr ul {
    padding: 0;
    margin: 0 !important;
    list-style-position: inside;
    text-align: left;
    font-size: 13px;
}

div.textarea_agr ul li.icon {
    text-align: center !important;
    list-style: none !important;
    margin: 5px 0 5px 0;
    padding: 0 0 5px 0 !important;
}
/* 201601 ADD */

div.textareared {
    border: 2px solid #f4a2a2;
    background-color: #ffeeee;
    padding: 10px !important;
    margin: 0 0 10px 0;
    text-align: left;
    font-size: 13px;
}

div.textareared ul {
    padding: 0;
    margin: 0 !important;
    list-style-position: inside;
}

div.textareared ul li.icon {
    text-align: center !important;
    list-style: none !important;
    padding: 0 0 5px 0 !important;
}


div.textareaglay {
    border: 2px solid #dadada;
    background-color: #fafafa;
    padding: 10px !important;
    margin: 0 0 10px 0;
    text-align: left;
    font-size: 13px;
}

div.textareaglay ul {
    padding: 0;
    margin: 0 !important;
    list-style-position: inside;
}

.green{
    border: 1px solid #248810 !important;
    background-color: #f1ffeb !important;
}

.red{
    color: #e93030 !important;
}

.crire{
    font-size: 14px !important;
    color: #248810 !important;
    margin: 0 !important;
    letter-spacing: 0.1em;
}
.black{
    font-size: 18px !important;
    color: #444 !important;
    margin: 0 !important;
    letter-spacing: 0.1em;
}



div.textarea p{
    margin: 0 auto 0 auto;
    font-size: 15px;
    font-weight: 300;
    color: #444;
}

div.textarea p.small{
    font-size: 8px;
    color: #444;
}

div.textarea form{
    font-size: 8px;
    color: #444;
}


div.textarea h2{
    margin: 30px 0 10px 0;
    text-align: left;
    padding: 2px 0 3px 7px;
    border-left: 4px solid #248810;
    font-size: 14pt;
    font-weight: 300;
    color: #444;
}


#webwrapper h2.lgray {
    word-wrap: break-word;
    font-size: 16px;
    color: #009180;
    max-width: 100%;
    padding: 15px 0 17px 15px;
    margin:  0 0 15px 0;
    background-color: #faf9f5;
    border-radius: 0 0 10px 10px;
}




#webwrapper h1 {
    word-wrap: break-word;
    padding: 5px 0 0 0;
    font-size: 15px !important;
    color: #009180 ;
}

#webwrapper h1.news {
    word-wrap: break-word;
    padding: 5px 0 0 0;
    margin: 0;
    font-size: 14px;
    color: #009180 ;
}

#webwrapper h1.lgray {
    word-wrap: break-word;
    font-size: 16px;
    color: #009180;
    max-width: 100%;
    padding: 10px 0 10px 15px;
    margin:  0 0 15px 0;
    background-color: #faf9f5;
}

#webwrapper h2.balloon {
    position: relative;
    color: aliceblue;
    border: none;
    font-weight: 700;
    font-size: 14px;
    max-width: 100%;
    padding: 5px 10px 5px 10px;
    margin:  24px auto 12px auto;
    height: auto;
    background-color: #248810;
}


#webwrapper h1.balloonspace {
    position: relative;
    color: #444;
    font-size: 12px;
    line-height: 1.4em;
    max-width: 100%;
    padding: 14px 16px 17px 15px;
    margin:  0 auto 22px auto;
    height: auto;
    background-color: #dddddd;
}

#webwrapper h1.balloonspace:before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 20%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid #dddddd;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}



#webwrapper h3 {
    word-wrap: break-word;
    padding: 5px 0 0 0;
    font-size: 16px;
    color: #009180 ;
}

#webwrapper h3.news {
    word-wrap: break-word;
    padding: 5px 0 0 0;
    margin: 0;
    font-size: 14px;
    color: #009180 ;
}

#webwrapper h3.lgray {
    word-wrap: break-word;
    font-size: 16px;
    color: #009180;
    max-width: 100%;
    padding: 10px 0 10px 15px;
    margin:  0 0 15px 0;
    background-color: #faf9f5;
}

#webwrapper h3.balloon {
    position: relative;
    color: aliceblue;
    max-width: 100%;
    padding: 12px 16px 8px 16px;
    margin:  0 auto 0 auto;
    height: auto;
    background-color: #619af8;
    font-size: 14px;
}
#webwrapper h3.balloon:before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 20%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid #619af8;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    z-index: 2;
}

#webwrapper h3.balloonspace {
    position: relative;
    color: #444;
    font-size: 14px;
    line-height: 1.4em;
    max-width: 100%;
    padding: 14px 16px 17px 15px;
    margin:  23px auto 18px auto;
    height: auto;
    background-color: #efefef;
}

#webwrapper h3.balloonspace:before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 20%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid #efefef;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

#webwrapper ul {
    margin-bottom: 26px;
    padding: 0;
}

#webwrapper ul.decimal li {
    word-wrap: break-word;
    margin: 0 0 10px 1.5em;
    padding: 0;
    font-size: 14px;
    color: #666;
    list-style: decimal;
}

#webwrapper ul.default li {
    word-wrap: break-word;
    margin: 0 0 10px 1.5em;
    padding: 0;
    font-size: 14px;
    color: #666;
}

#webwrapper ul.none {
    word-wrap: break-word;
    padding: 0 0 0 0;
    list-style: none;
}

#webwrapper ul li.faq_q {
    word-wrap: break-word;
    margin: 0 0 8px 0;
    padding: 2px 0 1px 45px;
    font-size: 14px;
    background: url(imgs/faq_q.png) left no-repeat;
}
#webwrapper ul li.faq_a {
    word-wrap: break-word;
    padding: 2px 0 1px 45px;
    font-size: 14px;
    color: #666;
    background: url(imgs/faq_a.png) left no-repeat;
}
#webwrapper ul li.faq_end {
    word-wrap: break-word;
    padding: 10px 0 0 12px;
    font-size: 12px;
    color: #666;
    list-style: none；
}

label.normal {
    font-size: 14px;
    color: #248810;
    padding: 18px 0 0 0 !important;
    display: block;
    margin: 0 0 6px 0;
}

/* 201512 ADD */
label.normalbig {
    font-size: 20px;
    color: #248810;
    padding: 18px 0 0 0 !important;
    display: block;
    margin: 0 0 6px 0;
}
/* 201512 ADD */
/* 201605 ADD */
label.gray {
    font-size: 14px;
    color: #808080;
    padding: 18px 0 0 0 !important;
    display: block;
    margin: 0 0 6px 0;
}
label.graybig {
    font-size: 20px;
    color: #808080;
    display: block;
    margin: 0 0 6px 0;
}
/* 201605 ADD */

input[type="checkbox"].on-off{
    display: none;
}

.menu ul.none {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li.faq_q {
    word-wrap: break-word;
    margin: 0 0 8px 0;
    padding: 10px 0 1px 45px;
    font-size: 14px;
    background: url(imgs/faq_q.png) left no-repeat;
}

.menu li.faq_a {
    word-wrap: break-word;
    padding: 2px 0 1px 45px;
    font-size: 14px;
    color: #666;
    background: url(imgs/faq_a.png) left no-repeat;
}

.menu li.faq_end {
    word-wrap: break-word;
    padding: 10px 0 0 12px;
    font-size: 12px;
    color: #666;
    list-style: none；
}

input[type="checkbox"].on-off + ul{
    height: 0;
    overflow: hidden;
}

input[type="checkbox"].on-off:checked + ul{
    height: 780px;
}

@media screen and (min-width:480px) {
    /*　画面サイズが480pxまではここを読み込む　*/
    input[type="checkbox"].on-off:checked + ul{
        height: 780px;
    }
}
@media screen and (min-width:768px) and ( max-width:1024px) {
    /*　画面サイズが768pxから1024pxまではここを読み込む　*/
    input[type="checkbox"].on-off:checked + ul{
        height: 675px;
    }
}
@media screen and (min-width:1024px) {
    /*　画面サイズが1024pxからはここを読み込む　*/
    input[type="checkbox"].on-off:checked + ul{
        height: 632px;
    }
}

#webwrapper p {
    word-wrap: break-word;
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 14px;
    color: #666;
}

#webwrapper p.right {
    text-align: right;
    word-wrap: break-word;
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 16px;
    color: #666;
}

div.imagebox {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
}

img.changeimage {
    width: 100%;
    height: auto;
}

img.banner {
    width: 100%;
    margin: 11px 0 10px 0;
}

#sample {
    background-image: url("imgs/change.png");
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}


/* 構造に関する記述 */
.list {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.list-box {
    display: table-cell;
    padding: 6px;
    vertical-align: up;
}
.list-img {

    max-height: 100px;
    overflow: hidden;
    text-align: center;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    border-top: solid 1px #ccc;
}
.list-img img {
    width: 100%;
}

.list img{
    -moz-transition: -moz-transform 0.5s linear;
    -webkit-transition: -webkit-transform 0.5s linear;
    -o-transition: -o-transform 0.5s linear;
    -ms-transition: -ms-transform 0.5s linear;
    transition: transform 0.5s linear;
}

.list img:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

/* 中身のデザインに関する記述 */


.list-cat5 {
    background-color: #fff;
    border: solid 1px #619af8 ;
    border-radius: 100px;
    color: #619af8;
    font-size: 11px;
    font-weight: 800;
    padding: 2px 7px;
    margin: 0 0 0 5px;
}

.list-cat {
    background-color: #fff;
    border: solid 1px #619af8 ;
    border-radius: 100px;
    color: #619af8;
    font-size: 11px;
    font-weight: 800;
    padding: 2px 7px;
}

.list-catpr {
    background-color: #fff;
    border: solid 1px #999 !important;
    border-radius: 100px;
    color: #999;
    font-size: 11px;
    font-weight: 800;
    padding: 2px 7px;
    margin: 0 0 0 5px;
}
.list-date {
    color: #aaa;
    font-size: 10px;
    margin-left: 10px;
}

.list-text{
    padding: 8px 12px 0 12px;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    background-color: #f7f7f7 ;
}


.list-text h3.text {
    color: #333;
    margin-top: 3px;
    font-size: 13px !important;
    font-weight: 400;
    line-height: 1.5;
}

.list-text h3.textpr {
    color: #333;
    margin-top: 0;
    font-size: 13px !important;
    font-weight: 400;
    line-height: 1.5;
}





.btn {
    width: 160px;
    height: 40px;
    margin: 15px 5px 6px 5px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.2em;
    font-weight: 600;
    line-height: 13px;
    border-radius: 4px;
    color: #fff;
    background-color: #248810;
    border: 2px solid #248810;
}
.btn:hover {
    background-color: #fff;
    border-color: #248810;
    color: #248810;
}


.btnno {
    width: 160px;
    height: 40px;
    margin: 15px 5px 6px 5px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.2em;
    font-weight: 600;
    line-height: 13px;
    border-radius: 4px;
    color: #fff;
    background-color: #acacac;
    border: 2px solid #acacac;
    color: #fff;
}
.btnno:hover {
    background-color: #fff;
    border-color: #acacac;
    color: #acacac;
}

div.right{
    text-align: right;
}

.btnright {
    width: 50px;
    height: 20px;
    margin: 0 0 12px 0;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.2em;
    font-weight: 600;
    line-height: 14px;
    border-radius: 4px;
    color: #fff;
    background-color: #acacac;
    border: 2px solid #acacac;
    color: #fff;
}
.btnright:hover {
    background-color: #fff;
    border-color: #acacac;
    color: #acacac;
}

/* 201512 ADD */
.btnright2 {
    width: 80px;
    height: 20px;
    margin: 0 0 12px 0;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.2em;
    font-weight: 600;
    line-height: 14px;
    border-radius: 4px;
    color: #fff;
    background-color: #acacac;
    border: 2px solid #acacac;
}
.btnright2:hover {
    background-color: #fff;
    border-color: #acacac;
    color: #acacac;
}

.btnright3 {
    width: 180px;
    height: 20px;
    margin: 0 0 12px 0;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.2em;
    font-weight: 600;
    line-height: 14px;
    border-radius: 4px;
    color: #fff;
    background-color: #acacac;
    border: 2px solid #acacac;
}
.btnright3:hover {
    background-color: #fff;
    border-color: #acacac;
    color: #acacac;
}
/* 201512 ADD */

.enter {
    width: 50px;
    height: 20px;
    margin: 4px 0 13px 0;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.2em;
    font-weight: 600;
    line-height: 14px;
    border-radius: 4px;
    color: #fff;
    background-color: #248810;
    border: 2px solid #248810;
}
.enter:hover {
    background-color: #fff;
    border-color: #248810;
    color: #248810;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}



input[type=text]{
    width:98%;
    height:34px;
    margin-top:6px;
    padding: 5px 0 5px 10px;
    font-size: 14px;
    ime-mode: active;
}

input[type=text]:focus {
    border:solid 1px #20b2aa;
}

input[type=text], select {
    outline: none;
}


input[type=tel]{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border:#a9a9a9 1px solid;
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.2),0 0 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
    width:98%;
    height:25px;
    margin-top:6px;
    padding: 5px 0 5px 10px;
    font-size: 14px;
    ime-mode: disabled;
}

input[type=tel]:focus {
    border:solid 1px #20b2aa;
}

input[type=tel], select {
    outline: none;
}


input[type=email]{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border:#a9a9a9 1px solid;
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.2),0 0 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
    width:98%;
    height:25px;
    margin-top:6px;
    padding: 5px 0 5px 10px;
    font-size: 14px;
    ime-mode: inactive;
}

input[type=email]:focus {
    border:solid 1px #20b2aa;
}

input[type=email], select {
    outline: none;
}



input[type=password]{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border:#a9a9a9 1px solid;
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.2),0 0 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
    width:98%;
    height:34px;
    margin-top:6px;
    padding: 5px 0 5px 10px;
    font-size: 14px;
    ime-mode: disabled;
}

input[type=password]:focus {
    border:solid 1px #20b2aa;
}

input[type=password], select {
    outline: none;
}




input[type="radio"] {
    display: none;
}
label.radio {
    font-size: 15px;
    position: relative;
    display: inline-block;
    padding: 3px 3px 3px 20px;
    cursor: pointer;
}

label.radio::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    margin-top: -8px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 100%;
}
input[type="radio"]:checked + label.radio::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 4px;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    background: #3498db;
    border-radius: 100%;
}

input[type="radio"]:focus + label.radio{
    outline:1px dotted #000;
}

.fucusRadio{
    display:inline !important;
    position: absolute;
    left: -10000px;
}



input[type=checkbox]{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border:#a9a9a9 1px solid;
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.2),0 0 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
    width:90%;
    height:25px;
    padding: 5px 10px 5px 10px;
    font-size: 14px;
}

input[type=checkbox]:focus {
    border:solid 1px #20b2aa;
}

input[type=checkbox], select {
    outline: none;
}

input[type="checkbox"] {
    display: none;
}
label.checkbox {
    font-size: 15px;
    position: relative;
    display: inline-block;
    padding: 3px 3px 3px 22px;
    cursor: pointer;
}
label.checkbox::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    margin-top: -8px;
    background: #fff;
    border: 1px solid #ccc;
}
input[type="checkbox"]:checked + label.checkbox::after {
    position: absolute;
    content: '';
    top: 5px;
    left: 3px;
    width: 13px;
    height: 5px;
    border-left: 2px solid #3498db;
    border-bottom: 2px solid #3498db;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}



.clearfix:after {
    display: block;
    clear: both;
    content: "";
}

.half {
    width: 47%;
}

.op{
    font-size: 13px;
    color: #a2a2a2 !important;
}

a.normal{
    font-size: 14px;
    color: #2c65bc;
}

div.textlink {
    padding: 10px 0 15px 0;
}

.iconspace {
    margin: 6px 10px 0 6px;
    vertical-align: -8px;
}

.rightspace4 {
    margin: 0 4px 0 0;
}

.leftspace6 {
    margin: 0 0 0 6px;
    font-size: 17px;
}

.selectbox {
    background: #e9fcd5;
    border: 1px solid #248810;
    border-radius: 6px;
    color: #333;
    font-size: 15px;
    height: 40px;
    line-height: 30px;
    text-align: left;
    text-indent: 5px;
    vertical-align: middle;
    width: 140px;
}

.bmaxicon {
    position: relative;
    right: -20px;
}

/* Firefox */
::-moz-placeholder {
    color: #777;
}

/* IE */
input:-ms-input-placeholder {
    color: #777;
}

img.msg_info_display{
	display:none;
}

/* Modal */
.reveal-modal-blank-bg { 
	position: fixed; 
	height: 100%;
	width: 100%;
	background: #000;
	background: rgba(0,0,0,.8);
	z-index: 200;
	display: none;
	top: 0;
	left: 0; 
	opacity: 0;
	}
		
.reveal-modal-bg { 
	position: fixed; 
	height: 100%;
	width: 100%;
	background: #ffffff;
	background: rgba(0,0,0,.8);
	z-index: 200;
	display: none;
	top: 0;
	left: 0; 
	}
	
.reveal-modal {
	visibility: hidden;
	width: 420px;
	height:80px;
	background: #eee url('../imgs/modal-gloss.png') no-repeat -200px -80px;
	position: absolute;
	top:0px;
	left:0px;
	z-index: 300;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
	-box-shadow: 0 0 10px rgba(0,0,0,.4);
	}
			
.reveal-modal .close-reveal-modal {
	font-size: 22px;
	line-height: .5;
	position: absolute;
	top: 8px;
	right: 11px;
	color: #aaa;
	text-shadow: 0 -1px 1px rbga(0,0,0,.6);
	font-weight: bold;
	cursor: pointer;
	} 

.reveal-modal div{
	margin-top:22px;
}

.reveal-modal .loading-img{
	margin-left:50px;
	float: left;
}

.reveal-modal .loading-text{
	line-height: 32px;
	font-size: 30px;
	font-weight: bold;
	margin-left: 150px;
}