thead {
	background-color: #009240;
	color: #fff;
}

.td-hei {
	height: 1px;
}

.tab {
	border-bottom: none;
	padding: 8px 10px;
	background-color: #009240;
	color: #FFFFFF;
	width: 40%;
}

td.mark {
	padding: 0 !important;
	border-top: 0 !important;
	background-color: #e6fbdb;
	color: red;
	width: 5%;
}

.mark {
	padding: 0 !important;
	border-top: 0 !important;
	background-color: #009240;
	color: red;
	width: 5%;
}

td.value {
	padding: 0 !important;
	border-top: 0 !important;
}

table.table {
	white-space: nowrap;
	height: 100%;
}

.bl-btn {
	margin: 0 auto;
	color: #009240;
	border: 2px solid #009240;
}

.bl-btn:hover, .bl-btn:focus {
	color: #009240;
	background-color: #009240;
}

.employee-length {
	width: 40%;
}

.employee-length-2 {
	width: 60%;
	min-width: 500px;
	margin-left: 20%;
}

.employee-length-3 {
	width: 80%;
}

.employee-length-4 {
	width: 60%;
}

.bl-btn-panel {
	width: 75px;
}

.group-button {
	margin-right: 0px;
}

.input-check {
	color: #FF0000;
}

.group-button .btn {
	margin-right: 15px;
}

.table-striped>tbody>tr:nth-of-type(even) {
	background-color: #D1EEC5;
}

.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #E6FBDB;
}

.table-hover>tbody>tr:hover {
	background-color: #BFE4B0;
}

.table-hover tbody tr.selected td {
	background-color: #ADD8E6;
}

.bl-btn-wiz-prev-2 {
	margin-top: 2%;
	margin-left: 36%;
	width: 10%;
	min-width: 75px;
}

.bl-btn-wiz-next-2 {
	margin-top: 2%;
	margin-left: 7%;
	width: 10%;
	min-width: 75px;
}

.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 20px 0;
	border-radius: 4px;
}

.pagination>li {
	display: inline;
}

.pagination>li>a, .pagination>li>span {
	position: relative;
	line-height: 1.42857143;
	color: #009240;
	background-color: #E6FBDB;
	border: 1px;
	margin-left: -1px;
}

.pagination>li>a:hover, .pagination>li>span:hover {
	color: #E47936;
	background-color: #E6FBDB;
}

.pagination>li>a:focus, .pagination>li>span:focus {
	background-color: #E6FBDB;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover,
	.pagination>.active>span:hover, .pagination>.active>a:focus,
	.pagination>.active>span:focus {
	z-index: 2;
	color: black;
	font-weight: bold;
	background-color: #E6FBDB;
	border: 0;
	outline: none;
}

.pagination>.disabled>a, .pagination>.disabled>span, .pagination>.disabled>a,
	.pagination>.disabled>a:hover, .pagination>.diasbled>a:focus,
	.pagination>.disabled>span:focus {
	background-color: #E6FBDB;
	border: 0;
	color: #999999;
}

.disabled {
	pointer-events: none;
	outline: none;
	background-color: #E6FBDB;
}

.pagination>li:first-child>a:hover, .pagination>li:first-child>span:hover
	{
	background-color: #E6FBDB;
	color: #E47936;
}

.pagination>li:last-child>a:hover, .pagination>li:last-child>span:hover
	{
	background-color: #E6FBDB;
}

.pagination>li:first-child>a:focus, .pagination>li:first-child>span:focus
	{
	background-color: #E6FBDB;
	color: #009240;
}

.pagination>li:last-child>a:focus, .pagination>li:last-child>span:focus
	{
	background-color: #E6FBDB;
	color: #009240;
}

footer {
	text-align: center;
}

#comInfo, #setInfo {
	width: 100%;
}

.backbg {
	background-color: #E0E0E0;
	color: black;
	font-weight: bold;
}

.panel-title {
	margin-left: 45%;
}

.panel-title-left {
	margin-left: 15px;
}

.select_group {
	width: 150px;
	min-width: 150px;
	height: 100%;
	padding-top: 10px;
	margin-left: 2%;
	vertical-align: center;
	text-align: left;
}

label {
	font-weight: normal !important;
}

.container {
	width: 100%;
	height: 100% !important;
	overflow-y: auto;
	border:2px solid #c0c0c0;
	max-height: 560px !important;
	padding-bottom: 9% !important;
}
.main {
	margin-top: 0%;
	height: 62% !important;
}

.tab-pane {
	height: 100% !important;
}
.panel-primary {
	margin-bottom: 1%;
}

div.textareared {
	width: 100%;
	border: 2px solid #f4a2a2;
	background-color: #ffeeee;
	padding: 10px !important;
	margin: 0 0 10px 0;
	text-align: left;
	font-size: 13px;
}

div.textareared ul {
	padding: 0;
	margin: 0 !important;
	list-style-position: inside;
}

div.textareared ul li.icon {
	text-align: center !important;
	list-style: none !important;
	padding: 0 0 5px 0 !important;
}

img.leftspace6 {
	margin: 0 0 0 6px;
	font-size: 17px;
}

img.rightspace4 {
	margin: 0 4px 0 0;
}

span.red {
	color: #FF0000;
}

.input-group-addon {
	float: left !important;
	width: 300px !important;
	border-top-left-radius: 4px !important;
	border-bottom-left-radius: 4px !important;
	height: 32px !important;
}

.input-group {
	padding-bottom: 0px !important;
}

.form-control {
	width: calc(100% - 300px) !important;
	position: absolute !important;
	height: 32px !important;
	left: 300px;
	bottom: 5px;
	font-weight: normal !important;
}

.page-header {
	margin-top: 0 !important;
}

.input-group-addon-tab2 {
	float: left !important;
	width: 160px !important;
}

.form-control2 {
	width: calc(100% - 160px) !important;
	position: absolute !important;
	left: 160px;
	bottom: 5px;
}

.imeInactive {
	ime-mode: inactive;
}

.imeActive {
	ime-mode: active;
}
.MakerCodeRF {
	background-color: #FFFFAA !important;
}
.companysettingheader {
	font-size: 30px !important;
	margin-bottom: 10px !important;
}
.title{
	padding-top:10px;
}
.breadcrumb{
	margin-bottom:-8px;
}
.col-md-12 {
	padding-bottom: 20px;
}
.tab-content {
	height: 100%;
	margin-left: 100px;
	margin-right: 100px;
}
#myTab {
	margin-left: 100px;
	margin-right: 100px;
}
.backbg {
	border-top: 2px solid #c0c0c0 !important;
	border-left: 2px solid #c0c0c0 !important;
	border-right: 2px solid #c0c0c0 !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
/*.panel-body {
	margin-top: 3%;
}*/
.grid-setter {
	margin-left: 7% !important;
	margin-right: 7% !important;
	border: 1px solid #008080;
}
.text-area-6 {
	margin-left: 7% !important;
	margin-right: 7% !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.text-area-7 {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.setter-title {
	margin-left: 0px !important;
}
.table-behind {
	padding-left: 0px !important;
	margin-top: 0px !important;
}
.span-area-6 {
	width: 100%;
}
.label-area-6 {
	padding-top: 5px !important;
	width: 160px;
}
.text-area-8 {
	width: 160px !important;
}
/*.container-setter {
	margin-top: 2.5% !important;
}*/
.table {
	margin-bottom: 0px !important;
	border: 0px !important;
	width: 100% !important;
	height: 100% !important;
}
.table-div {
	width: 100% !important;
	height: 100% !important;
}
.panel-heading {
	background-color: #14dc73 !important;
	text-align: center !important;
}
.panel-title-set {
	color: #000000 !important;
	text-align: center !important;
}
.companySettingBody {
	height: 100% !important;
}
.makerCodeArea {
	margin-top: 3%;
}
.selectorCodeArea {
	margin-top: 3%;
}
.companySettingBtn {
	position: fixed !important;
	bottom: 2% !important;
	right: 0.4%;
	margin-top: 1% !important;
	padding-bottom: 2.5% !important;
	z-index: 2 !important;
}
.hidenArea {
	display: none !important;
}
#webwrapper {
	height: 100% !important;
}
