@charset "UTF-8";
/**
 * メニュー画面 トップページ
 *
 * create : 2017/01/10
 */

.main{
    margin-top:15%;
}

.input-group-addon {
  width: 60%;
  min-width: 150px;
  align: left;
  padding-top: 6px;
}

.input-num {
  width: 40%;
  min-width: 120px;
  text-align:right;
  font-weight: bold;
}

.panel{
  /* border: none; */
}

.message {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  text-decoration: underline;
  position: relative;
  left: 25%;
  top: 15%;
}
.colline {
  height: 5px;
  width:50%;
  background-color: #666666;
  left: 25%;
  position: relative;
}
.panel-body {
  position: relative;
  left: 35%;
}